@import url(./style.css);

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #35323200;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--font-color-secondary-dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}